@import "reset.scss";

body {
  background: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary {
  width: 600px;
  font-size: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: black;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  caret-color: tr;
}

.secondary {
  width: 100px;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background: black;
  border: 1px solid black;
  padding: 10px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}
